{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %}{% endblock title %}Home | Notes_App</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Link to page favicon.ico to display in location Bar-->
        <link rel="icon" href="{% static 'images/favicon.png' %}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}">
    
        <!-- Jquery JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    </head>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>N</span>otes <span>A</span>pp</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <!-- <li><a href="#services" data-after="Service">Services</a></li> -->
            <li><a href="{% url 'tasks' %}" >Notes</a></li>
            <li><a href="{% url 'login' %}" >Login</a></li>
            <li><a href="{% url 'register' %}" >Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome <span></span></h1>
        <h1>To The Best <span></span></h1>
        <h1>Notes App<span></span></h1>
        <a href="{% url 'tasks' %}" type="button" class="cta">Write Notes</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
</body>
</html>
